<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2024 NGAI Lab</p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-8">
		  Contact: EEE, the University of Hong Kong, Pok Fu Lam, Hong Kong SAR, China
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://hku-next-generative-ai-lab-hku-ngai-lab.github.io/lab-page/js/bootstrap.min.js"></script>
